In [3]:
import pandas as pd
import numpy as np

# 读取excel表格
excelFile = './Data/scores_u.xlsx'
df = pd.DataFrame(pd.read_excel(excelFile,header=[0,1],index_col=0))
print(df)
print("------------ffill--------------")
# 1. ffill 向后填充，将NAN前的值填充给NAN，如果NAN之前没有数据了就依然还是缺失值NAN
df_ffill = df.fillna(method="ffill") 
print(df_ffill)
print("------------bfill----------------")
# 2. bfill 向后填充，将NAN后的值填充给NAN，如果NAN之后没有数据了就依然还是缺失值NAN
df_bfill = df.fillna(method="bfill")
print(df_bfill)
print("------------nearest-----------------")
# 3. nearest
df_nearest = df.interpolate(method="nearest")
print(df_nearest)

      一本分数线         二本分数线
         文科     理科     文科     理科
2018  576.0  532.0  488.0  432.0
2017  555.0  537.0  468.0  439.0
2016  583.0  548.0  532.0  494.0
2015  579.0  548.0  527.0    NaN
2014  565.0  543.0  507.0    NaN
2013  549.0  550.0  494.0  505.0
2012  495.0  477.0    NaN  433.0
2011  524.0  484.0  481.0  435.0
2010    NaN  494.0  474.0    NaN
2009  532.0  501.0  489.0  459.0
2008  515.0  502.0  472.0  455.0
2007  528.0    NaN  489.0  478.0
2006  516.0  528.0  476.0  476.0
------------ffill--------------
      一本分数线         二本分数线
         文科     理科     文科     理科
2018  576.0  532.0  488.0  432.0
2017  555.0  537.0  468.0  439.0
2016  583.0  548.0  532.0  494.0
2015  579.0  548.0  527.0  494.0
2014  565.0  543.0  507.0  494.0
2013  549.0  550.0  494.0  505.0
2012  495.0  477.0  494.0  433.0
2011  524.0  484.0  481.0  435.0
2010  524.0  494.0  474.0  435.0
2009  532.0  501.0  489.0  459.0
2008  515.0  502.0  472.0  455.0
2007  528.0  502.0  489.0  478.0
2006  516.0  528.0  476.0  476.0
------------bfill----------------
      一本分数线         二本分数线
         文科     理科     文科     理科
2018  576.0  532.0  488.0  432.0
2017  555.0  537.0  468.0  439.0
2016  583.0  548.0  532.0  494.0
2015  579.0  548.0  527.0  505.0
2014  565.0  543.0  507.0  505.0
2013  549.0  550.0  494.0  505.0
2012  495.0  477.0  481.0  433.0
2011  524.0  484.0  481.0  435.0
2010  532.0  494.0  474.0  459.0
2009  532.0  501.0  489.0  459.0
2008  515.0  502.0  472.0  455.0
2007  528.0  528.0  489.0  478.0
2006  516.0  528.0  476.0  476.0
------------nearest-----------------
      一本分数线         二本分数线
         文科     理科     文科     理科
2018  576.0  532.0  488.0  432.0
2017  555.0  537.0  468.0  439.0
2016  583.0  548.0  532.0  494.0
2015  579.0  548.0  527.0  494.0
2014  565.0  543.0  507.0  505.0
2013  549.0  550.0  494.0  505.0
2012  495.0  477.0  481.0  433.0
2011  524.0  484.0  481.0  435.0
2010  532.0  494.0  474.0  459.0
2009  532.0  501.0  489.0  459.0
2008  515.0  502.0  472.0  455.0
2007  528.0  528.0  489.0  478.0
2006  516.0  528.0  476.0  476.0

In [59]:
a=np.zeros(4)
b=np.zeros(4)
def gradient(Data):
    aa=np.zeros(4)
    bb=np.zeros(4)
    for i in range(0,12):
        x = 2018-i
        y=Data[i]
        aa+=((a*x + b)-y)*x
        bb+=((a*x + b)-y)
    return aa,bb

In [ ]:
data = np.array(df_nearest)
num= 20000
lr=0.000000001
for i in range(num):
    aa,bb = gradient(data)
    a=a-(lr*aa)
    b=b-(lr*bb)

In [68]:
print("------------2019年高考成绩------------")
data={"文科一本":[a[0]*2019+b[0]],"理科一本":[a[1]*2019+b[1]],"文科二本":[a[2]*2019+b[2]],"理科二本":[a[3]*2019+b[3]]}

G2019=pd.DataFrame(data,dtype=int)
print(G2019)

------------2019年高考成绩------------
         文科一本        理科一本        文科二本        理科二本
0  546.207841  522.037468  493.433081  467.170388

C:\Users\t'z\AppData\Local\Temp\ipykernel_20112\2606982326.py:4: FutureWarning: Could not cast to int32, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  G2019=pd.DataFrame(data,dtype=int)